@use "../variables/colors";

.subscribe-form {
  max-width: 800px;
  margin: 15px auto;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    padding: 0 8em;
    text-align: center;
  }

  p {
    overflow: hidden;
    border-right: 0.2em solid colors.$light-color;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 6s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 191px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: colors.$light-color;
  }
}
