@use "../variables/colors";
@use "../variables/fonts";

.subscribe-form {
  max-width: 800px;
  margin: 15px auto;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    padding: 0 8em;
    text-align: center;
  }
}

.type {
  display: inline-flex;

  span {
    font-family: fonts.$font-main;
    font-weight: 800;
    border-right: 0.2em solid colors.$light-color;
    word-break: break-all;
    height: 1.2em;
    width: 0%;
    overflow: hidden;
    animation: typing 3s linear infinite alternate,
      blink-caret 0.75s step-end infinite;
  }

  span:before {
    content: " ";
    display: inline-block;
  }
}

@keyframes typing {
  90%,
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: colors.$light-color;
  }
}
