@use "../variables/colors";

button {
  background-color: colors.$background-light;
  border: none;
  padding: 1.5em;
  border-radius: 1em;
  color: colors.$light-color;
  transition: 0.2s ease;

  &:hover {
    background-color: colors.$primary-color;
    color: colors.$background-light;
  }
}

.btn {
  font-size: 0.4em;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: colors.$light-color;
  text-transform: uppercase;
  font-weight: 800;
  border: colors.$light-color solid 1px;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  margin-right: 1em;

  &:hover {
    color: colors.$background-color;
    background-color: colors.$light-color;
  }
}
