@charset "UTF-8";
.menu-hover-dot, .footer-nav__links li::before, .header-content__nav__menu li::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  background: transparent;
  transition: background-color 0.5s ease;
}

.icon-hover i, .articles__collection__content i, .articles__banner__content i {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}
.icon-hover:hover i, .articles__collection__content:hover i, .articles__banner__content:hover i {
  visibility: visible;
  opacity: 1;
}

header {
  background-color: #252530;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header-content {
  display: flex;
  max-width: 1000px;
  height: 60px;
  padding: 0 20px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header-content__logo img {
  height: 35px;
}

.header-content__nav__menu {
  display: flex;
  list-style-type: none;
}
.header-content__nav__menu li {
  position: relative;
}
.header-content__nav__menu li a {
  font-weight: 800;
  padding: 0 0.5em;
  text-decoration: none;
  color: white;
}
.header-content__nav__menu img {
  width: 1.2em;
  height: 1.2em;
}
.header-content__nav__menu li::before {
  right: 0;
  top: 0;
}
.header-content__nav__menu li:hover::before {
  background-color: #ebebeb;
}

.is-active::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffb469;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

footer {
  max-width: 1000px;
  padding: 15px;
  margin: auto;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.footer-nav__links li {
  position: relative;
}
.footer-nav__links li::before {
  right: 4px;
  top: 2px;
}
.footer-nav__links li:hover::before {
  background: #ebebeb;
}
.footer-nav__links li a {
  font-weight: 800;
  font-size: 0.75em;
  padding-right: 1em;
  text-decoration: none;
  color: white;
}

.footer-nav__social {
  display: flex;
  align-items: center;
}
.footer-nav__social i {
  margin-left: 1.5em;
}
.footer-nav__social a {
  color: #ebebeb;
}
.footer-nav__social a:hover {
  color: #ffb469;
}

.footer-copyright {
  font-size: 0.5em;
}

.subscribe-form {
  max-width: 800px;
  margin: 15px auto;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-form h3 {
  padding: 0 8em;
  text-align: center;
}

.type {
  display: inline-flex;
}
.type span {
  font-family: "Mulish", Arial, sans-serif;
  font-weight: 800;
  border-right: 0.2em solid #ebebeb;
  word-break: break-all;
  height: 1.2em;
  width: 0%;
  overflow: hidden;
  animation: typing 3s linear infinite alternate, blink-caret 0.75s step-end infinite;
}
.type span:before {
  content: " ";
  display: inline-block;
}

@keyframes typing {
  90%, 100% {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ebebeb;
  }
}
.pinned-image-setting, .articles-pinned__large-left, .articles-pinned__small-tl, .articles-pinned__small-tr, .articles-pinned__small-bl, .articles-pinned__small-br {
  position: relative;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  z-index: 1;
}
.pinned-image-setting:hover, .articles-pinned__large-left:hover, .articles-pinned__small-tl:hover, .articles-pinned__small-tr:hover, .articles-pinned__small-bl:hover, .articles-pinned__small-br:hover {
  transform: translateY(-3px);
}

.pinned-overlay-setting, .articles-pinned__large-left::before, .articles-pinned__small-tl::before, .articles-pinned__small-tr::before, .articles-pinned__small-bl::before, .articles-pinned__small-br::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 1em;
  width: 100%;
  height: 100%;
}

.articles-pinned {
  max-width: 1200px;
  height: 400px;
  margin: 20px auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "pinned1 pinned2 pinned3" "pinned1 pinned4 pinned5";
  gap: 15px;
}
.articles-pinned article {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 1em;
  padding: 15px;
  position: relative;
}
.articles-pinned article a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.articles-pinned article:first-child {
  grid-area: pinned1;
}
.articles-pinned article:nth-child(2) {
  grid-area: pinned2;
}
.articles-pinned article:nth-child(3) {
  grid-area: pinned3;
}
.articles-pinned article:nth-child(4) {
  grid-area: pinned4;
}
.articles-pinned article:nth-child(5) {
  grid-area: pinned5;
}

.articles-pinned__large-left {
  background-image: url("https://images.unsplash.com/photo-1562664377-709f2c337eb2?ixlib=rb-1.2.…&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles-pinned__large-left::before {
  background-color: rgba(37, 37, 48, 0.3);
}

.articles-pinned__small-tl {
  background-image: url("https://images.unsplash.com/photo-1566764581662-6cd06d381aef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles-pinned__small-tl::before {
  background-color: rgba(20, 35, 255, 0.8);
}
.articles-pinned__small-tl h3 {
  font-size: 1em;
}

.articles-pinned__small-tr {
  color: #363643;
}
.articles-pinned__small-tr::before {
  background-color: #ffb469;
}
.articles-pinned__small-tr h3 {
  font-size: 1em;
}

.articles-pinned__small-bl {
  background-image: url("https://images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles-pinned__small-bl::before {
  background-color: rgba(119, 0, 143, 0.8);
}
.articles-pinned__small-bl h3 {
  font-size: 1em;
}

.articles-pinned__small-br {
  background-image: url("https://images.unsplash.com/photo-1562185022-c0a7889d7fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  color: #363643;
}
.articles-pinned__small-br::before {
  background-color: rgba(255, 158, 216, 0.8);
}
.articles-pinned__small-br h3 {
  font-size: 1em;
}

.banner-image-setting, .articles__collection__background--one, .articles__collection__background--two, .articles__collection__background--three, .articles__collection__background--four, .articles__collection__background--five, .articles__banner__background--one, .articles__banner__background--two, .articles__banner__background--three {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: transform 1s;
}

.banner-overlay-setting, .articles__collection__background--one::before, .articles__collection__background--two::before, .articles__collection__background--three::before, .articles__collection__background--four::before, .articles__collection__background--five::before, .articles__banner__background--one::before, .articles__banner__background--two::before, .articles__banner__background--three::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 1em;
  width: 100%;
  height: 100%;
}

.banner-zoom-setting, .articles__collection__element:hover .articles__collection__background--one, .articles__collection__element:hover .articles__collection__background--two, .articles__collection__element:hover .articles__collection__background--three, .articles__collection__element:hover .articles__collection__background--four, .articles__collection__element:hover .articles__collection__background--five, .articles__banner:hover .articles__banner__background--one, .articles__banner:hover .articles__banner__background--two, .articles__banner:hover .articles__banner__background--three {
  transform: scale(1.05);
}

.articles-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 15px;
}

.articles__banner {
  margin: 15px 0;
  padding: 150px 100px;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
}

.articles__banner__content {
  position: relative;
  z-index: 1;
}

.articles__banner__background--one {
  background-image: url("https://images.unsplash.com/photo-1558697698-9300a84a6a99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles__banner__background--one::before {
  background-color: rgba(37, 37, 48, 0.3);
}

.articles__banner__background--two {
  background-image: url("https://images.unsplash.com/photo-1543248939-ff40856f65d4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles__banner__background--two::before {
  background-color: rgba(255, 180, 105, 0.8);
}

.articles__banner__background--three {
  background-image: url("https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles__banner__background--three::before {
  background-color: rgba(37, 37, 48, 0.3);
}

.articles__collection {
  height: 750px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 55% 45%;
  grid-template-areas: "col1 col1 col1 col2 col2 col2" "col3 col3 col4 col4 col5 col5";
  gap: 15px;
}
.articles__collection article:first-child {
  grid-area: col1;
  color: #363643;
}
.articles__collection article:nth-child(2) {
  grid-area: col2;
  color: #363643;
}
.articles__collection article:nth-child(3) {
  grid-area: col3;
}
.articles__collection article:nth-child(3) h3 {
  font-size: 1em;
}
.articles__collection article:nth-child(4) {
  grid-area: col4;
  color: #363643;
}
.articles__collection article:nth-child(4) h3 {
  font-size: 1em;
}
.articles__collection article:nth-child(5) {
  grid-area: col5;
}
.articles__collection article:nth-child(5) h3 {
  font-size: 1em;
}
.articles__collection article:nth-child(5) hr {
  background-color: #ebebeb;
}

.articles__collection__element {
  padding: 4em 40px 25px 1em;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
}

.articles__collection__content {
  position: relative;
  z-index: 1;
}

.articles__collection__background--one {
  background-image: url("https://images.unsplash.com/photo-1487015307662-6ce6210680f1?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles__collection__background--one::before {
  background-color: rgba(238, 190, 255, 0.8);
}

.articles__collection__background--two {
  background-image: url("https://images.unsplash.com/photo-1544457070-4cd773b4d71e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles__collection__background--two::before {
  background-color: rgba(255, 180, 105, 0.9);
}

.articles__collection__background--three {
  background-image: url("https://images.unsplash.com/photo-1528441397448-a44d50563cf8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles__collection__background--three::before {
  background-color: rgba(37, 37, 48, 0.4);
}

.articles__collection__background--four {
  background-image: url("https://images.unsplash.com/photo-1562185022-c0a7889d7fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles__collection__background--four::before {
  background-color: rgba(255, 158, 216, 0.9);
}

.articles__collection__background--five {
  background-image: url("https://images.unsplash.com/photo-1551216223-37c8d1dbec5c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}
.articles__collection__background--five::before {
  background-color: rgba(37, 37, 48, 0.4);
}

button {
  background-color: #363643;
  border: none;
  padding: 1.5em;
  border-radius: 1em;
  color: #ebebeb;
  transition: 0.2s ease;
}
button:hover {
  background-color: #ffb469;
  color: #363643;
}

.btn {
  font-size: 0.4em;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  margin-right: 1em;
}

.btn-light {
  color: #ebebeb;
  border: #ebebeb solid 1px;
}
.btn-light:hover {
  color: #252530;
  background-color: #ebebeb;
}

.btn-dark {
  color: #363643;
  border: #363643 solid 1px;
  background-color: transparent;
}
.btn-dark:hover {
  color: #ebebeb;
  background-color: #363643;
}

input {
  background-color: #252530;
  padding: 1em 5em;
  margin: 2em 1em;
  border: none;
  border-bottom: 1px solid #ebebeb;
  color: #363643;
  font-family: "Mulish", Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  transition: 0.3s ease;
}
input:focus {
  border: none;
  border-bottom: 1px solid #ebebeb;
  padding: 1em 8em;
  outline: none;
}

.pin-label {
  font-size: 0.5em;
  letter-spacing: 0.2em;
  font-weight: 800;
  padding: 0.5em 1em;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 1em;
  position: absolute;
  top: 15px;
  left: 15px;
}

.pin-light {
  background-color: #ebebeb;
  color: #252530;
}

.pin-dark {
  background-color: #363643;
  color: #ebebeb;
}

.articles__heading {
  text-align: center;
  max-width: 1000px;
  margin: 30px auto;
}

body {
  font-family: "Mulish", Arial, sans-serif;
  color: #ebebeb;
  background-color: #252530;
}

p {
  font-size: 0.75em;
}

h2 {
  font-family: "Corben", "Times New Roman", serif;
}

h3 {
  font-family: "Corben", "Times New Roman", serif;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 0.5em;
}

h4 {
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.25em;
  margin: 0;
}

h5 {
  font-size: 0.8em;
  margin-block-start: 0.5em;
}

main {
  padding-top: 45px;
}

hr {
  height: 2px;
  background-color: #363643;
  border: none;
  width: 50px;
  margin: 0;
}



/*# sourceMappingURL=style.css.map */
